<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../icons/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../icons/fontawesome/css/brands.css">
    <link rel="stylesheet" href="../icons/fontawesome/css/regular.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title>Country</title>
</head>
<body>
    <header class="header">
        <h1 class="title">Where in the world?</h1>

        <a href="#" class="theme_mode">
            <i class="fa-regular fa-moon"></i>
            <span>Dark Mode</span>
        </a>
    </header>

    <article>
        <img class="icons-row-left" src="../icons/seta-longa-a-esquerda.png" alt="Clique aqui para voltar a página inicial" title="Volte a página inicial">
        <button class="btn-back">
            Back
        </button>
    </article>

    <section class="description_country">
        
    </section>
    <script src="../js/descriptionCountry.js"></script> 
</body>
</html>